/*
CSS LEGEND NEED TO EDIT
==========
1) #OOCSS Classes
2) #Mobile & Basic Styling
3) #MediaQuery 480px
4) #MediaQuery 768px
5) #slider
7) #MediaQuery 1024px
*/


/* #TODO

don't repeat your code!

Add legend in JS
Fix legend in CSS
clean up CSS & JS (cache dom)

HTML5 IF STATEMENT
<head>
    <title>My Awesome Website</title>
    <!--[if lt IE 9]>
        <script src="js/selectivizr-min.js"></script>
        <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>

*/

/* #OOCSS Classes */
.currency {	
	text-align: right;
}
.center-text {
	text-align: center;
}
.text-indent {
	text-indent: 0.5rem;
}
.small-indent {
	min-width: 1.25rem;
    display: inline-block;
}
.med-indent {
    min-width: 5rem;
    display: inline-block;
}
.italicize {
	font-style: italic;
}
.dark-background-white-font {
	background-color: #204288;
	color: #fff;
}
.white-background-blue-font {
	background-color: #fff;
	color: #204288;
}
.dark-font {
	color: #204288;
}
.green-font {
	color: #009900;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* #Mobile & Basic Styling */

/* Global Styling */

body {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	width: 100%;
	margin: 0;
	/*should I put blue font in here?*/
}

/* #HEADER */

header {
	max-width: 1200px;
	margin: 0 auto; /*#USE THIS A LOT*/
}
h1 {
	font-size: 1.65rem;
}
.willoe-header-container {
	width: 15rem;
	margin: 0 auto; /*#USE THIS A LOT*/
	padding: 1rem;
}
.cra-header-container {
	display: none;
}
header img {
	max-width: 100%; /*#USE THIS A LOT*/
}

/* #NAV */

.main-nav  {
	width: 100%; /*#USE THIS A LOT*/
}
.main-nav ul {
    margin: 0;
    padding: 0;
    list-style:none;
}
.main-nav li { 
    display:inline;
}
.main-nav a {
    width: 8rem;
    display: inline-block;
	padding: 1rem 0;
    color: #fff; /*#USE THIS A LOT*/
    text-decoration: none; /*USE THIS A LOT, GLOBAL STYLE?*/
    font-size: 1rem;
}

/* #CONTENT CONTAINERS */

.content-container {
	width: 95%;
	max-width: 1200px;
	margin: 1.5rem auto;
}
.content,
.sales-service-rentals-content {
	margin: 1rem 0 2rem;
}

/*#INDEX CONTENT*/

.content-stihl-logo {
	height: 3.75rem;
	padding: 1rem;
}
.content-toro-logo {
	height: 3.875rem;
	padding: 1rem;
}
.slider-container {
	display: inline;
	position: relative;
	width: 100%; /*USE THIS A LOT*/
	margin: 0 auto; /*USE THIS A LOT*/
	height: 20rem;
	overflow: hidden;
}
#slider {
	width: 100%; /*USE THIS A LOT*/
	height: 20rem;
	overflow: hidden;
	margin: 0 auto; /*USE THIS A LOT*/
}
.slides {
	display: block;
	width: 324rem;
	height: 20rem;
	margin: 0 0 0 -42.5rem;
	padding: 0;
}
.slide {
	float: left;
	list-style: none;
	width: 36rem;
	height: 20rem;
}
.index-stihl-product-image {
	width: 25rem;
  	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}
.index-toro-product-image {
	width: 20rem;
  	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

/*#STIHL CONTENT*/

.stihl-products-container,
.stihl-product-categories-container {
	width: 100%; /*USE THIS A LOT*/
	margin: 0 auto; /*USE THIS A LOT*/
}
.product-categories {
	width: 50%;
	margin: 0 auto; /*USE THIS A LOT*/
}
.product-categories a {
	width: 100%; /*USE THIS A LOT*/
	text-decoration: none; /*USE THIS A LOT, GLOBAL STYLE?*/
	color: rgb(243,122,31);
}
.product-info-container {
	width: 100%; /*USE THIS A LOT*/
	margin: 0 auto 0.75rem;
	border: 0.15rem solid rgb(243,122,31);
}
.product-info-container img {
	max-width: 100%;
}
.stihl-h1-logo {
	width: 4.6875rem;
	vertical-align: bottom;
}
.fall-flyer-banner-left, 
.fall-flyer-banner-right {
	display: none;
}

/* #TORO CONTENT */

.toro-product-container {
	margin: 0 auto; /*use this a lot*/
	width: 20rem;
}
.toro-product-info-one,
.toro-product-info-two {
	margin-top: 3rem;
	max-width: 100%;
}
.toro-h1-logo { /*same size as other TORO image?*/
	width: 3.75rem;
	vertical-align: bottom; /*use this a lot*/
}
.toro-product-container ul {
	text-align: left;
	padding-left: 2rem;
}
.toro-product-container li {
	font-size: .75rem;
}
.toro-product-container img {
	width: 15rem;
}

/* #RENTAL CONTENT */

.rental-category-hide {
	display: none;
}
.rental-side-nav {
	width: 15rem;
	margin: 1rem;
	font-size: 0.9rem;
	text-transform: uppercase;
}
.rental-side-nav h1 {
	font-size: 1.5rem;
}
.rental-side-nav ul {
	list-style: none;
	padding-left: 0;
}
.rental-side-nav li {
	padding: 0.2rem 0;
	border-bottom: 0.1rem solid #204288;
}
.rental-side-nav a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: #204288;
}
.rental-rates-table {
	display: none;
	font-size: 0.7rem;
}
.rental-rates-table table {
	margin: 0 auto;
}
caption,
.rental-rates-table h2 {
	text-transform: uppercase;
	margin: 0.75rem 0 0.75rem;
	font-size: 1.15rem;
	font-weight: bold;
}
.rental-rates-table th,
.rental-rates-table td {
	padding: .15rem .4rem;
	border: 0.1rem solid;
}
.back-to-rentals-menu {
	display: none;
	font-size: 1.5rem;
	margin: 1rem 0 0 0.5rem;
}

/* #SERVICES CONTENT */

.willoe-background-image {
	width: 100%;
}

/* #ASIDE */

aside {
	display: none;
}
aside.index-contact-aside {
	margin: 1rem auto;
	width: 14rem;
	display: block;
	font-size: 1rem;
}
aside ul {
    padding-left: 0;
    list-style:none;
}
iframe {
	margin-top: 1rem;
	border: none;
	width: 100%;
	height: 11.25rem;
}
.fb-img-container {
	width: 7.5rem;
	margin: 2rem 0;
}
.cra-secondary-container {
	width: 8.75rem;
	margin: 0 auto;
}
.cra-secondary-container img,
.fb-img-container img {
	max-width: 100%
}

/* #FOOTER */

footer {
	padding: 1% 4%;
}


/* #CONTACT */

form {
  max-width: 24rem;
  margin: 1rem auto;
  font-size: 0.85rem;
}
fieldset {
  border: none;
}
form label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: bold;
}
form input,
form textarea {
  border: 1px solid #bebebe;
  width: 85%;
  outline: 0;
  padding: 0.75rem;
  background-color: #f4f7f8;
  margin-bottom: 1.25rem;
}
form input:hover,
form textarea:hover {
    border: .1rem solid #009900;
}
form button {
	width: 30%;
	font-size: 1rem;
	margin-left: .65rem;
	padding: 0.75rem 1.25rem;
    border: none;
}
form button:hover{
    opacity: 0.7;
}
form .required{
    color: red;
    font-size: .75rem;
}
form .missing-fields-message {
	color: red;
	float: right;
    font-size: .75rem;
    padding: .75rem 4rem;
    visibility: hidden;
}

/* #MediaQuery 480px */

@media (min-width: 480px) {
	
	/* #HEADER */

	header {
		width: 95%;
	}
	.willoe-header-container {
		float: left;
		margin: 0;
		padding: 1rem;
	}
	.cra-header-container {
		width: 7.5rem;
		float: right;
		visibility: visible;
		display: inline;
		margin: 1rem 0;
	}

	/* #NAV */

	.main-nav a {
	    width: 4.5rem;
	    font-size: 0.8rem;
	}

	/* #CONTENT CONTAINERS */

	.content-container {
		width: 90%;
	}

	/* #INDEX CONTENT */	

	.slider-container {
		width: 22.5rem;
	}
	#slider {
		width: 22.5rem;
	}

	/* #STIHL CONTENT */

	.stihl-product-categories-container {
		width: 75%
	}
	.product-categories {
		width: 45%;
		float: left;
		margin: 0 2.5%;
	}

	/* #ASIDE */

	aside.index-contact-aside {
		float: none;
	}
	.cra-secondary-container {
		display: none;
	}

}

/* #MediaQuery 768px */

@media (min-width: 768px) {
	
	/* #NAV */

	.main-nav a {
	    width: 7rem;
	    font-size: 1rem;
	}
	.main-nav li a:hover {
		background-color: #009900;
	}

	/* #CONTENT CONTAINERS */

	.content {
		width: 60%;
		float: left;
		margin: 0 5% 0 0;
		min-height: 73vh;
	}
	.sales-service-rentals-content {
		width: 95%;
		margin: 0 auto;
		min-height: 73vh;
	}

	/* #STIHL CONTENT */

	.stihl-product-categories-container {
		width: 50%;
		float: left;
		padding-right: 2.5%
	}
	.product-categories {
		margin: 0 0 0 5%;
	}
	.product-info-container:hover {
		border: 0.15rem solid gray;
	}
	.fall-flyer-banner-left {
		width: 6.25rem;
		float: left;
		display: block;
	}
	.fall-flyer-banner-right {
		width: 6.25rem;
		float: left;
		display: block;
	}
	.fall-flyer-banner-right img,
	.fall-flyer-banner-left img {
		max-width: 100%;
	}

	/* #TORO CONTENT */

	.toro-product-container {
		width: 42rem;
		height: 25rem;
		margin: 0;
	}		
	.toro-product-info-one {
		margin: 0;
		float: left;
		width: 50%
	}
	.toro-product-info-two {
		margin: 0;
		float: right;
		width: 50%
	}

	/* #RENTAL CONTENT */

	.rental-side-nav {
		width: 14rem;
		float: left;
		margin: 0;
	}
	.rental-side-nav li a:hover {
		text-decoration: underline;
		cursor: pointer;
		color: #009900;
	}
	.rental-side-nav h1 {
		font-size: 1.25rem;
	}
	#content-air-compressors {
		display: block;
	}
	.rental-rates-table {
		margin-left: 1.5rem;
		font-size: 0.85rem;
		float: left;
	}
	.rental-rates-table td:first-child {
		min-width: 12rem;
		padding-right: .5rem;
	}
	.back-to-rentals-menu {
		margin-left: 1.5rem;
	}

	/* #ASIDE */

	aside,
	aside.index-contact-aside {
		float: right;
		width: 13rem;
		margin: 1rem 0;
		font-size: .9rem;
	}

}

	

/* #MediaQuery 1024px */

@media (min-width: 1024px) {

	/* #CONTENT CONTAINERS */

	.content,
	.sales-service-rentals-content {
		width: 70%;
		float: left;
	}

	/* #RENTAL CONTENT */

	.rental-side-nav {
		margin-left: 1rem;
	}
	.rental-rates-table {
		margin-left: 1.5rem;
	}
	
	/* #ASIDE */

	aside {
		display: block;
	}

}




