/*
CSS LEGEND NEED TO EDIT
==========
1) #OOCSS Classes
2) #Mobile & Basic Styling
3) #MediaQuery 480px
4) #MediaQuery 768px
5) #slider
7) #MediaQuery 1024px
*/

/* #OOCSS Classes */
.currency {	
	text-align: right;
}
.center-text {
	text-align: center;
}
.text-indent {
	text-indent: 0.5rem;
}
.small-indent {
	min-width: 20px;
    display: inline-block;
}
.med-indent {
    min-width: 5rem;
    display: inline-block;
}
.italicize {
	font-style: italic;
}
.dark-background-white-font {
	background-color: #204288;
	color: #fff;
}
.white-background-blue-font {
	background-color: #fff;
	color: #204288;
}
.dark-font {
	color: #204288;
}
.green-font {
	color: #009900;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* #Mobile & Basic Styling */

/* Global Styling */

body {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	width: 100%;
	margin: 0;
	/*should I put blue font in here?*/
}

/* #HEADER */

header {
	max-width: 1200px;
}
h1 {
	font-size: 1.75rem;
}
.willoe-header-container {
	width: 240px;
	margin: 0 auto;
	padding: 1rem;
}
.cra-header-container {
	display: none;
}
header img {
	max-width: 100%;
}

/* #NAV */

.main-nav  {
	width: 100%;
}
.main-nav ul {
    margin: 0;
    padding: 0;
    list-style:none;
}
.main-nav li { 
    display:inline;
}
.main-nav a {
    width: 8rem;
    display: inline-block;
	padding: 1rem 0;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

/* #CONTENT CONTAINERS */

.content-container {
	width: 95%;
	max-width: 1200px;
	margin: 1.5rem auto;
}
.content,
.sales-service-rentals-content {
	margin: 1rem 0 2rem;
}

/*#INDEX CONTENT*/

.content-stihl-logo {
	height: 60px;
	padding: 1rem;
}
.content-toro-logo {
	height: 62px;
	padding: 1rem;
}
.slider-container {
	visibility: visible;
	display: inline;
	position: relative;
	width: 100%;
	margin: 0 auto;
	height: 320px;
	overflow: hidden;
}
#slider {
	width: 100%;
	height: 320px;
	overflow: hidden;
	margin: 0 auto;
}
.slides {
	display: block;
	width: 5184px;
	height: 320px;
	margin: 0 0 0 -680px;
	padding: 0;
}
.slide {
	float: left;
	list-style: none;
	width: 576px;
	height: 320px;
}
.index-stihl-product-image {
	width: 400px;
  	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}
.index-toro-product-image {
	width: 320px;
  	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

/*#STIHL CONTENT*/

.stihl-products-container {
	width: 100%;
	margin: 0 auto;
}
.stihl-product-categories-container {
	width: 100%;
	margin: 0 auto;
}
.stihl-product-categories-container a {
	text-decoration: none;
	color: rgb(243,122,31);
}
.product-categories {
	width: 70%;
	margin: 0 auto;
}
.product-info-container {
	width: 100%;
	margin: 3rem auto;
}
.product-info-container img {
	max-width: 100%;
}
.stihl-h1-logo {
	width: 75px;
	vertical-align: bottom;
}
.fall-flyer-banner-left, 
.fall-flyer-banner-right {
	display: none;
}

/* #TORO CONTENT */

.toro-product-container {
	margin: 0 auto;
	width: 20rem;
}
.toro-product-info-one,
.toro-product-info-two {
	margin-top: 3rem;
	max-width: 100%;
}
.toro-h1-logo {
	width: 60px;
	vertical-align: bottom;
}
.toro-product-container ul {
	text-align: left;
	padding-left: 2rem;
}
.toro-product-container li {
	font-size: .75rem;
}
.toro-product-container img {
	width: 240px;
}

/* #RENTAL CONTENT */

.rental-category-hide {
	display: none;
}
.rental-side-nav {
	width: 18rem;
	margin: 1rem;
	font-size: 0.9rem;
	text-transform: uppercase;
}
.rental-side-nav h1 {
	font-size: 1.5rem;
}
.rental-side-nav ul {
	list-style: none;
	padding-left: 0;
}
.rental-side-nav li {
	padding: 0.2rem 0;
	border-bottom: 1px solid #204288;
}
.rental-side-nav a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: #204288;
}
.rental-rates-table {
	display: none;
	float: left;
	font-size: 0.75rem;
}
.rental-rates-table h2 {
	text-transform: uppercase;
	margin-top: 0.75rem;
}
.rental-rates-table th,
.rental-rates-table td {
	padding: .15rem .15rem;
	border: 1px solid;
}
.back-to-rentals-menu {
	display: none;
	font-size: 1.5rem;
	margin: 1rem 0 0 0.5rem;
}

/* #SERVICES CONTENT */

.willoe-background-image {
	width: 100%;
}

/* #ASIDE */

aside {
	display: none;
}
aside.index-contact-aside {
	margin: 1rem auto;
	width: 14rem;
	display: block;
	font-size: 1rem;
}
aside ul {
    padding-left: 0;
    list-style:none;
}
iframe {
	margin-top: 1rem;
	border: none;
	width: 100%;
	height: 180px;
}
.fb-img-container {
	width: 120px;
	margin: 2rem 0;
}
.cra-secondary-container {
	width: 140px;
	margin: 0 auto;
}
.cra-secondary-container img,
.fb-img-container img {
	max-width: 100%
}

/* #FOOTER */

footer {
	padding: 1% 4%;
}


/* #CONTACT */

.contact-form-container {
	width: 70%;
	max-width: 21rem;
	margin: 0 auto;
	display: none;
}
form ul {
    font-size: 0.85rem;
    padding: 1rem;
}
form li {
    padding: 0.25rem;
    list-style: none;
    margin-bottom: 0.75rem;
}
form label {
    margin: 0 0 3px 0;
    padding: 0;
    font-weight: bold;
}
form input,
textarea {
    border: 1px solid #bebebe;
    padding: 0.5rem;
    margin: 0;
    width: 100%;
}
form input:hover,
textarea:hover {
    border: 1px solid #009900;
}
form button {
	font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
}
form button:hover{
    background: #009900;
}
form .required{
    color: red;
    font-size: .75rem;
}
form .missing-fields-message {
	color: red;
	float: right;
    font-size: .75rem;
    padding: 0.5rem;
    visibility: hidden;
}


/* #MediaQuery 480px */

@media all and (min-width: 480px) {
	
	/* #HEADER */

	header {
		width: 95%;
		margin: 0 auto;
/*		border: 1px solid black;*/
	}
	.willoe-header-container {
		float: left;
		margin: 0;
		padding: 1rem;
	}
	.cra-header-container {
		width: 120px;
		float: right;
		visibility: visible;
		display: inline;
		margin: 1rem 0;
	}

	/* #NAV */

	.main-nav a {
	    width: 4.5rem;
	    font-size: 0.8rem;
	}

	/* #CONTENT CONTAINERS */

	.content-container {
		width: 90%;
	}

	/* #INDEX CONTENT */	

	.slider-container {
		width: 360px;
	}
	#slider {
		width: 360px;
	}

	/* #STIHL CONTENT */

	.product-categories {
		width: 50%;
		float: left;
	}

	/* #RENTAL CONTENT */
	
	.rental-rates-table {
		font-size: 0.8rem;
		margin-left: 1.5rem;
	}
	.back-to-rentals-menu {
		margin-left: 1.5rem;
	}

	/* #ASIDE */

	aside.index-contact-aside {
		float: none;
	}
	.cra-secondary-container {
		display: none;
	}

}

/* #MediaQuery 768px */

@media all and (min-width: 768px) {
	
	/* #HEADER */

/*	header {
		border: 1px solid green;
	}*/

	/* #NAV */

	.main-nav a {
	    width: 7rem;
	    font-size: 1rem;
	}
	.main-nav li a:hover {
		background-color: #009900;
		text-decoration: underline;
	}

	/* #CONTENT CONTAINERS */

	.content {
		width: 60%;
		float: left;
		margin: 0 5% 0 0;
		min-height: 73vh;
	}
	.sales-service-rentals-content {
		width: 95%;
		margin: 0 auto;
		min-height: 73vh;
	}

	/* #STIHL CONTENT */

	.stihl-product-categories-container {
 		width: calc(100% - 200px);	/*do I need browser fixes?*/
		float: left;
	}
	.product-categories {
		width: 50%;
	}
	.fall-flyer-banner-left {
		width: 100px;
		float: left;
		display: inline-block;
	}
	.fall-flyer-banner-right {
		width: 100px;
		float: left;
		display: inline-block;
	}
	.fall-flyer-banner-right img,
	.fall-flyer-banner-left img {
		max-width: 100%;
	}
	.product-info-container {
		border: 1px solid #fff;
		width: 75%;
	}
	.product-info-container:hover {
		border: 0.1rem solid rgb(243,122,31);
	}

	/* #TORO CONTENT */

	.toro-product-container {
		width: 42rem;
		height: 25rem;
		margin: 0;
	}		
	.toro-product-info-one {
		margin: 0;
		float: left;
		width: 50%
	}
	.toro-product-info-two {
		margin: 0;
		float: right;
		width: 50%
	}

	/* #RENTAL CONTENT */

	.rental-side-nav {
		width: 14rem;
		float: left;
		margin: 0;
	}
	.rental-side-nav li a:hover {
		text-decoration: underline;
		cursor: pointer;
		color: #009900;
	}
	.rental-side-nav h1 {
		font-size: 1.25rem;
	}

	#content-air-compressors {
		display: block;
	}

	/* #CONTACT CONTENT */

	.contact-form-container {
		display: block;
	}
	.content.form-content {
		display: block;
	}

	/* #ASIDE */

	aside,
	aside.index-contact-aside {
		float: right;
		width: 13rem;
		margin: 1rem 0;
		font-size: .9rem;
	}

}

	

/* #MediaQuery 1024px */

@media all and (min-width: 1024px) {

	/* #HEADER */

/*	header {
		border: 1px solid blue;
	}*/

	/* #CONTENT CONTAINERS */

	.content,
	.sales-service-rentals-content {
		width: 70%;
		float: left;
	}

	/* #RENTAL CONTENT */

	.rental-side-nav {
		margin-left: 1rem;
	}
	.rental-rates-table {
		margin-left: 1.5rem;
	}
	
	/* #ASIDE */

	aside {
		display: block;
	}

}




